{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "solid",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:solid/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "brace-style": [
      "error", "stroustrup"
    ],
    "quotes": [
      "error", "double"
    ],
    "indent": [
      "error", 2
    ],
    "semi": [
      "error", "always"
    ],
    "eol-last": [
      "error", "always"
    ],
    "eqeqeq": [
      "error", "always"
    ],
    "comma-dangle": [
      "error", "never"
    ],
    
    "no-return-await": "error",
    "no-trailing-spaces": "error"
  }
}